body {
    background-color: #131313;
    height: 1280px;
}

* {
    z-index: 2;
    font-family: 'JetBrains Mono', monospace;
}


.header {
    position: relative;
    text-align: center;
    color: #BBBBBB;
    letter-spacing: 0px;
    line-height: 40px;
    font-size: 48px;
    max-width: 1240px;
    
    padding: 20px;
    padding-bottom: 30px;
    width: 61%;
    margin: auto;
    margin-top: 20px;

}

.bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1240px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 30px;
    width: 60%;
    max-width: 1200px;
    text-decoration: none;
    transition-duration: 0.9s;
}

.bar a p {
   color: #BBBBBB;
}


.link {
    width: 800px;
    height: 30px;
    margin: 0 15px 0 15px;
    text-decoration: none;
    border: 0px solid dimgrey;
    border-radius: 10px;
    background-color: #303030;
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
}
